@media (max-width: 768px) { 
  /* --------------- Page 1 --------------- */
  .navbar-toggler-icon {
    background-image: url("../img/menu.svg") !important;
    width: 25px;
  }

  .navbar .navbar-brand img {
    width: 50%;
  }

  .bg1-text h1 {
    margin-top: 25vh;
    text-align: center;
    max-width: 100%;
  }

  .bg1-hero img {
    position: absolute;
    z-index: -1;
    left: -45%;
    margin-top: -35vh;
  }

  .btn1 {
    width: 25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
  }

  .btn2 {
    width: 25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
  }
  /* --------------- Page 1 End --------------- */
  /* --------------- Page 2 --------------- */
  .page-2 {
    margin-top: -10vh;
  }

  .page-2 .bg2 .row .apa-saja {
    margin-top: -5vh;
  }
  
  .page-2 .bg2 .row .apa-saja h1 {
    font-size: 15px; 
  }

  .page-2 .bg2 .row .apa-saja p {
    font-size: 12px; 
  }

  .page-2 .bg2 .row .apa-saja button {
    width: 40%;
    margin-right: 5%;
  }

  /* --------------- Jasa ----------------- */

  .page-2 .bg2 .jasa {
    margin-top: 5vh;
  }

  .page-2 .bg2 .jasa .col-sm-5 {
  margin-top: -80px;
  }

  .page-2 .bg2 .jasa .col-sm-5 .carousel-inner {
    height: 200px;
  }

  .page-2 .bg2 .jasa .col-sm-5 .carousel-inner img{
    display: none;
  }

  /* --------------- Cara Kerja --------------- */

  .cara-kerja .col-sm-6 img {
    max-width: 100%;
    margin-top: 10vh;
  }

  /* --------------- Icon Contact --------------- */

  .page-4 .col-sm-1 img {
    width: 40px;
    margin-top: 2.5vh;
  }

  .page-4 .col-sm-1 p {
    display: none;
  }
}

@media (max-width: 736px) { 
  /* --------------- Page 1 --------------- */
  .bg1-text h1 {
   font-size: 15px;
   margin-top: 60vh;
  }

  .bg img {
    display: none;
  }

  .bg1-hero img {
    left: -55%;
    margin-top: -75vh;
  }
  /* --------------- Page 1 End --------------- */
  /* --------------- Page 2 --------------- */
  .page-2 {
    margin-top: 20vh;
  }

  .apa-saja .col-sm-5 h1 {
    font-size: 18px;
  }

  .apa-saja .col-sm-5 p {
    font-size: 12px;
  }

  .page-2 .bg2 .jasa .img-jasa img {
    margin-top: 10vh;
  }

  .page-2 .bg2 .jasa .col-sm-5 h1 {
    font-size: 15px;
    margin-top: 20vh;
  }

  /* --------------- Page 2 End --------------- */
}

@media (max-width: 576px) { 
  /* --------------- Page 1 --------------- */
  .bg1-text h1 {
   font-size: 20px;
   margin-top: 50vh;
   margin-bottom: 20px;
  }

  .bg1-hero img {
    left: 5%;
    margin-top: -65vh;
    width: 75vw;
  }

  .btn1 {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }
  /* --------------- Page 1 End --------------- */
  /* --------------- Page 2 --------------- */
  .page-2 {
    margin-top: 0vh;
  }

  .page-2 .layanan h1 {
    font-size: 25px;
    margin-top: -10vh;
  }

  .page-2 .bg2 .row .icon {
    margin-top: 0vh;
  }

  .row .col-sm-2 h1 {
    font-size: 18px;
  }

  .row .col-sm-2 p {
    font-size: 15px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .page-2 .bg2 img {
    max-width: 100%;
  }

  .page-2 .bg2 .col-sm-5 h1 {
    text-align: center !important;
    margin-top: -15vh;
    font-size: 20px;
    margin-bottom: 30px;
  }

  .page-2 .bg2 .col-sm-5 h2 {
    text-align: center !important;
    font-weight: bold;
  }

  .page-2 .bg2 .col-sm-5 p {
    font-size: 15px;
    text-align: center !important;
  }

  /* --------------- Apasaja --------------- */
  .page-2 .bg2 .row .apa-saja {
    margin-top: 20vh;
  }

  .page-2 .bg2 .row .apa-saja .col-sm-5 h1 {
    font-size: 20px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .page-2 .bg2 .row .apa-saja .col-sm-5 p {
    font-size: 15px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .page-2 .bg2 .row .apa-saja .col-sm-5 button {
    left: -7.5%;
  }

  .page-2 .bg2 .row .apa-saja .col-sm-3 {
    text-align: center;
    margin-top: 15vh;
  }

  .page-2 .bg2 .row .apa-saja .col-sm-3 img {
    width: 75px;
  }

  .page-2 .bg2 .row .apa-saja .col-sm-3 h1 {
    display: block;
    left: 0;
    position: inherit;
    font-size: 18px;
  }

  .page-2 .bg2 .row .apa-saja .col-sm-3 p {
    font-size: 15px;
    margin-top: 15px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .page-2 .bg2 .row .apa-saja .jasa2 {
    margin-top: -5px;
  }

  /* -------------------- Jasa -------------------- */

  .page-2 .bg2 .jasa-img {
    height: 1300px;
  }

  .page-2 .bg2 .jasa .row .img-jasa {
    margin-top: 5vh;
  }

  .page-2 .bg2 .jasa .row .col-sm-5 h1 {
    font-size: 20px;
    margin-top: 10vh;
  }

  .page-2 .bg2 .jasa .col-sm-5 .carousel-inner {
    height: 300px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .page-2 .bg2 .jasa .col-sm-5 .carousel-inner img {
    display: inherit;
    width: 20%;
    left: 40%;
    right: 40%;
    top: 30px;
  }

  .page-2 .bg2 .jasa .col-sm-5 .carousel-inner P {
    width: 80%;
    left: 10%;
    right: 10%;
    margin-top: 20vh;
  }

  .page-2 .bg2 .jasa .col-sm-5 .carousel-inner .one p {
    top: 0;
  }

  .page-2 .bg2 .jasa .col-sm-5 .carousel-inner .two p {
    top: 0;
  }

  .page-2 .bg2 .jasa .col-sm-5 .carousel-inner .three p {
    top: 0;
  }

  .page-2 .bg2 .jasa .col-sm-5 .carousel .carousel-control-prev {
  display: none;
  }

  .page-2 .bg2 .jasa .col-sm-5 .carousel .carousel-control-next {
    display: none;
  }

  /* ---------------- CaraKerja ---------------- */

  .cara-kerja {
    text-align: center;
  }

  .cara-kerja p {
    text-align: justify;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .cara-kerja .col-sm-6 img {
    margin-top: -5vh;
  }
  
  /* ----------------- Kontak ------------------ */
  .page-4 .col-sm-6 h1 {
    text-align: center;
    margin-bottom: 30px;
  }

  .page-4 .col-sm-6 p {
    text-align: justify;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }

  .page-4 .col-sm-1 img {
    position: absolute;
    margin-top: 25px;
  }
  .page-4 .wa img {
    left: 27.5%;
  }
  .page-4 .mail img {
    right: 0%;
  }
}

@media (max-width: 415px) {
  .page-2 .bg2 .jasa {
    margin-top: -50px;
  }
}

@media (max-width: 376px) {

  .bg1-hero img {
    margin-top: -70vh;
  }

  .page-2 .layanan h1 {
    font-size: 18px;
  }

  .row .col-sm-2 h1 {
    font-size: 15px;
  }

  .page-2 .bg2 .jasa-img {
    height: 1250px;
  }
  
  /* --------------- Page 2 End --------------- */
}
