/* ------------------------------- HOME --------------------------- */
/* ------------------------------- HOME --------------------------- */
/* ------------------------------- HOME --------------------------- */

/* Large devices (tablets, less than 768px) */
 @media (max-width: 768px) { 
   /* iPad */
  /* --------------- Navbar --------------- */
  .navbar-toggler-icon {
    background-image: url("../img/menu.svg") !important;
    width: 25px;
  }

  .navbar .navbar-brand img {
    margin-left: 10px;
    width: 100px;
  }
  
  .navbar {
    margin-top: 2rem;
  }

  /* --------------- Content 1 --------------- */

  .page-1-text h1 {
    margin-top: 25vh;
    text-align: center;
    max-width: 100%;
  }

  .page-1-hero img {
    position: absolute;
    z-index: -1;
    margin-top: -35vh;
    left: -70%;
  }

  .btn1 {
    width: 12.5rem;
    margin-left: 40%;
    margin-right: 40%;
  }

  /* --------------- Content 2 --------------- */

  
  #p2 {
    margin-top: 20vh;
  }

  .page-2 {
    margin-top: 15vh;
  }

  /* ------------------- Content 3 ------------------- */

  .apa-saja .col-sm-5 button {
    margin-right: 0;
  }

  /* ---------------- Content 4 ---------------- */

  .page-2 .bg2 .jasa-img {
    height: 40vh;
  }
  
  .page-2 .bg2 .jasa {
    margin-top: 10vh;
  }

  .jasa .img-jasa img {
    width: 100%;
    margin-top: 5vh;
  }

  .page-2 .bg2 .jasa .col-sm-5 .carousel-inner {
    height: 20vh;
  }

  .page-2 .bg2 .jasa .col-sm-5 .carousel-inner img {
    display: none;
  }
  .page-2 .bg2 .jasa .col-sm-5 .carousel-inner p {
    left: 20%;
    right: 20%;
    text-align: justify;
  }

  .page-2 .bg2 .jasa .col-sm-5 .carousel-inner .one p {
  top: 7.5rem;
  }

  .page-2 .bg2 .jasa .col-sm-5 .carousel-inner .two p {
    top: 3rem;
  }

  .page-2 .bg2 .jasa .col-sm-5 .carousel-inner .three p {
    top: 4rem;
  }


  

  /* --------------- Content 5 --------------- */

  .cara-kerja {
    margin-top: 0vh;
    margin-bottom: 10vh;
  }

  .cara-kerja .col-sm-6 img {
    max-width: 100%;
    margin-top: 15vh;
  }

  .cara-kerja .col-sm-5 button {
    margin-right: 0;
  }

  /* --------------------- Content 6  --------------------- */

  .bg-kontak {
    height: 75vh;
  }
  
  .kontak form > button {
    margin: 0;
    margin-top: 5rem;
  }


  /* --------------- Icon Contact --------------- */

  .page-4 .col-sm-1 p {
    display: none;
  }
}

/* Small devices (landscape phones, less than 747px) */
@media (max-width: 747px) {
   
  .bg img {
    visibility: hidden;
  }
  
  .page-1-hero {
    visibility: hidden;
  }

  /* Content 3 */

  .apa-saja .col-sm-3 img {
    visibility: hidden;
  }

  .apa-saja .col-sm-3 h2 {
    margin-left: 0;
    position: relative;
  }

  /* Content 4 */

  .page-2 .bg2 .jasa-img {
    height: 80vh;
    margin-top: 0vh;
  }

  .page-2 .bg2 .jasa {
    margin-top: 10vh;
  }

  .page-2 .bg2 .jasa .col-sm-5 .carousel-inner {
    height: 30vh;
  }

  .page-2 .bg2 .jasa .col-sm-5 .carousel-inner p {
    font-size: 1rem;
  }

  .page-2 .bg2 .jasa .col-sm-5 .carousel-inner .one p {
  top: 2.5rem;
  }

  .page-2 .bg2 .jasa .col-sm-5 .carousel-inner .two p {
    top: 0rem;
  }

  .page-2 .bg2 .jasa .col-sm-5 .carousel-inner .three p {
    top: 0rem;
  }
}

/*  Extra small devices (portrait phones, less than 576px) */
@media (max-width: 576px) { 

  /* --------------- Content 1 --------------- */
  .page-1-text h1 {
   font-size: 2rem;
   margin-top: 50vh;
   margin-bottom: 2rem;
  }

  .page-1-hero img {
    visibility: visible;
    width: 100%;
    left: 0;
    margin-top: -70vh;
  }

  .btn1 {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }

  /* --------------------- Content 2 --------------------- */

  #p2 {
    margin-top: 10vh;
  }

  .page-2 {
    margin-top: 30vh;
  }

  .page-2 .page-2-text h1 {
    font-size: 25px;
    margin-top: -10vh;
  }

  .row .col-sm-2 h1 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }

  .row .col-sm-2 p {
    font-size: 1.5rem;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 5rem;
  }

  /* ------------------- Content 3 ------------------- */

  .page-2 .bg2 img {
    width: 100%;
    visibility: visible;
  }
  
  .page-2 .bg2 .row .apa-saja {
    margin-top: 5vh;
  }

  .page-2 .bg2 .row .apa-saja .col-sm-5 h1 {
    font-size: 1.8rem;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2rem;
    text-align: center !important;
  }

  .page-2 .bg2 .row .apa-saja .col-sm-5 p {
    font-size: 1.5rem;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify !important;
    margin-bottom: 2rem;
  }

  .page-2 .bg2 .row .apa-saja .col-sm-5 button {
    left: 0;
  }

  .page-2 .bg2 .row .apa-saja .col-sm-3 {
    text-align: center;
    margin-top: 15vh;
  }

  .page-2 .bg2 .row .apa-saja .col-sm-3 img {
    width: 50px;
  }

  .page-2 .bg2 .row .apa-saja .col-sm-3 h2 {
    display: block;
    left: 0;
    position: inherit;
    font-size: 1.5rem;
    width: 50%;
    margin: 0 auto;
  }

  .page-2 .bg2 .row .apa-saja .col-sm-3 p {
    font-size: 1.5rem;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 5rem;
  }

  .page-2 .bg2 .row .apa-saja .jasa2 {
    margin-top: -5px;
  }

  /* -------------------- Content 4 -------------------- */

  .page-2 .bg2 .jasa-img {
    height: 100vh;
  }

  .page-2 .bg2 .jasa .row .img-jasa {
    margin-top: -10vh;
  }

  .page-2 .bg2 .jasa .row .col-sm-5 h1 {
    font-size: 2rem;
    margin-top: 0vh;
    margin-bottom: 5vh;
  }

  .page-2 .bg2 .jasa .col-sm-5 .carousel-inner {
    height: 40vh;
    width: 90%;
    margin: 0 auto;
  }

  .page-2 .bg2 .jasa .col-sm-5 .carousel-inner img {
    display: inherit;
    width: 20%;
    left: 40%;
    right: 40%;
    top: 30px;
  }

  .page-2 .bg2 .jasa .col-sm-5 .carousel-inner P {
    width: 80%;
    left: 10%;
    right: 10%;
    margin-top: 17.5vh;
    font-size: 1.5rem;
  }

  .page-2 .bg2 .jasa .col-sm-5 .carousel-inner .one p {
    top: 0;
  }

  .page-2 .bg2 .jasa .col-sm-5 .carousel-inner .two p {
    top: 0;
  }

  .page-2 .bg2 .jasa .col-sm-5 .carousel-inner .three p {
    top: 0;
  }

  .page-2 .bg2 .jasa .col-sm-5 .carousel .carousel-control-prev {
  display: none;
  }

  .page-2 .bg2 .jasa .col-sm-5 .carousel .carousel-control-next {
    display: none;
  }

  /* ---------------- Content 5 ---------------- */

  .cara-kerja {
    text-align: center;
    margin-top: 0;
  }

  .cara-kerja p {
    text-align: justify;
    width: 90%;
    margin: 0 auto;
  }

  .cara-kerja .first {
    order: 2;
    margin-top: -10vh;
  }

  .cara-kerja .col-sm-5 button {
    left: -12.5%;
  }

  .cara-kerja .row .col-sm-6 img {
    margin-top: 25vh;
  }

  /* ------------------------- Content 6 -------------------------*/

  .kontak p {
    width: 100%;
  }

  form {
    padding: 1rem;
  }

  .kontak-icon {
    margin-top: 50px;
  }

  .bg-kontak {
    height: 110vh;
  }
  
  /* ----------------- Tentang ------------------ */
  .page-4 .col-sm-6 h1 {
    text-align: center;
    margin-bottom: 3rem;
  }

  .page-4 .col-sm-6 p {
    text-align: justify;
    width: 95%;
    margin: 0 auto;
  }

  .page-4 .col-sm-5 .tentang-kontak {
    margin-top: 0px;
    width: 95%;
    margin: 0 auto;
  }

  .semi-footer p {
    margin: 5px;
  }
}

/*  Extra small devices (portrait phones, less than 385px) */
@media (max-width: 385px) {

  /* --------------- Content 1 --------------- */
  .page-1-text h1 {
   font-size: 1.8rem;
   margin-bottom: 1rem;
   margin-top: 55vh;
  }

  /* ------------------- Content 3 ------------------- */
  

  .page-2 .bg2 .row .apa-saja .col-sm-3 h2 {
    margin-bottom: 1rem;
  }

  /* -------------------- Content 4 -------------------- */

  .page-2 .bg2 .jasa-img {
    height: 110vh;
  }

  .page-2 .bg2 .jasa .row .img-jasa {
    margin-top: -5vh;
  }

  .page-2 .bg2 .jasa .col-sm-5 .carousel-inner P {
    font-size: 1.4rem;
  }

  /* ---------------- Content 5 ---------------- */

  .cara-kerja {
    margin-top: 10vh;
  }

  /* ------------------------- Content 6 -------------------------*/

  .kontak p {
    width: 100%;
  }

  .kontak form {
    width: 90%;
  }

  .kontak-icon {
    margin-top: 2.5rem;
  }

  .bg-kontak {
    height: 125vh;
  }
}

/*  Extra small devices (portrait phones, less than 320px) */
@media (max-width: 320px){
   /* --------------- Content 1 --------------- */
  .page-1-text h1 {
   font-size: 1.6rem;
   margin-bottom: 1rem;
   margin-top: 50vh;
  }

  /* ------------------- Content 3 ------------------- */
  

  .page-2 .bg2 .row .apa-saja .col-sm-3 h2 {
    margin-bottom: 1rem;
  }

  .page-2 .bg2 .row .apa-saja .col-sm-5 {
    margin-bottom: 10vh;
  }

  /* -------------------- Content 4 -------------------- */

  .page-2 .bg2 .jasa-img {
    height: 120vh;
  }

  .page-2 .bg2 .jasa .row .img-jasa {
    margin-top: -5vh;
  }

  .page-2 .bg2 .jasa .col-sm-5 .carousel-inner {
    height: 45vh;
  }

  .page-2 .bg2 .jasa .col-sm-5 .carousel-inner P {
    font-size: 1.2rem;
  }

  /* ------------------------- Content 6 -------------------------*/

  .bg-kontak {
    height: 155vh;
  }

  /* ------------------------- SemiFooter ------------------------- */

  .semi-footer p {
    font-size: 0.8rem;
  }

}

/* ------------------------------- LAYANAN --------------------------- */
/* ------------------------------- LAYANAN --------------------------- */
/* ------------------------------- LAYANAN --------------------------- */

/* Large devices (tablets, less than 768px) */
@media (max-width: 768px) {
  .layanan h1 {
    font-size: 2rem;
  }

  .layanan h2 {
    font-size: 1.2rem;
  }

  .layanan p {
    font-size: 1.4rem;
  }

  .layanan .content1 .row .col-sm-4 img {
    width: 100%;
    margin-top: 10vh
  }

  .layanan .content1 .row .col-sm-6 h1 {
    margin-top: 5vh;
  }

  .layanan .content2 {
    margin-top: 0;
  }

  .layanan .content2 .bg {
    height: 105vh;
  }

  .layanan .content1 .row .col-sm-6 button {
    width: 50%;
    left: -12.5%;
  }
}

/* Small devices (landscape phones, less than 767px) */
@media (max-width: 747px) {

  .layanan .content2 .bg {
    height: 325vh;
  }
}

/*  Extra small devices (portrait phones, less than 576px) */
@media (max-width: 576px) {

  .content1 {
    margin-right: -7.5%;
    margin-left: 0;
  }

  .layanan .content1 .row .col-sm-4 img {
    margin-top: 10vh;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .layanan .content1 .row .col-sm-6 p {
    text-align: justify;
  }

  .layanan .content1 .row .col-sm-6 button {
    left: 0;
    margin-top: 5vh;
    margin-bottom: 10vh;
  }

  /* -------------------------------Page 2 Layanan --------------------------- */

  #p2-2 {
  margin-top: 10vh;
  }

  .layanan .content2 {
    margin-top: 20vh;
  }

  .layanan .content2 .bg {
    height: 275vh;
  }

  .list-icon .col-sm-3 {
    width: 85%;
    margin: 0 auto;
  }

  .layanan .content2 .list-icon .col-sm-3 h2 {
    font-size: 2rem;
  }
}

/*  Extra small devices (portrait phones, less than 385px) */
@media (max-width: 385px) {
  .layanan .content2 .bg {
  height: 335vh;
  }
}

/*  Extra small devices (portrait phones, less than 320px) */
@media (max-width: 320px) {

  .layanan .content2 .bg {
  height: 465vh;
  }

}

/* ------------------------------- WORK --------------------------- */
/* ------------------------------- WORK --------------------------- */
/* ------------------------------- WORK --------------------------- */

/* Large devices (tablets, less than 768px) */
@media (max-width: 768px) {

  .work {
    margin-top: 10vh;
  }

  .work .content1 h1 {
    margin-bottom: 0;
  }

  .work .content1 .col-sm-4 img {
    width: 100%;
    margin-top: 0;
  }

  .work .content1 .col-sm-6 button {
    width: 50%;
    left: -5vw;
  }

  #p3-2 {
    margin-top: 10vh;
  }

  .work .content2 {
    margin-top: 20vh;
  }

  .work .content2 .content2-bg {
    height: 90vh;
    margin-top: -10vh;
  }
}

/* Small devices (landscape phones, less than 767px) */
@media (max-width: 747px) {

  .work .content1 .col-sm-4 img {
    width: 100%;
    margin-top: 10vh;
  }

  .work .content1 .col-sm-6 h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .work .content1 .col-sm-6 p {
    text-align: justify;
  }

  .work .content1 .col-sm-6 button {
    left: -15%;
  }

  .work .content2 .content2-bg {
    height: 235vh;
  }
}

/*  Extra small devices (portrait phones, less than 576px) */
@media (max-width: 576px) {
  .work .content1 .col-sm-4 img {
    width: 90%;
    margin-top: 0vh;
    margin-bottom: 5vh;
  }

  .work .content1 .col-sm-6 button {
    left: 0;
  }

  .work .content2 .content2-bg {
    height: 155vh;
  }
}

/*  Extra small devices (portrait phones, less than 385px) */
@media (max-width: 385px) {
  .work .content2 .content2-bg {
    height: 185vh;
  }
}

/*  Extra small devices (portrait phones, less than 320px) */
@media (max-width: 320px) {
  .work .content2 .content2-bg {
    height: 265vh;
  }
}

/* ------------------------------- Secure --------------------------- */
/* ------------------------------- Secure --------------------------- */
/* ------------------------------- Secure --------------------------- */

/* Large devices (tablets, less than 768px) */
@media (max-width: 768px) {

  /* Content 1 */

  .secure button {
    width: 50%;
    left: -15%;
  }

  .secure h1 {
    font-size: 1.8rem;
  }

  .secure h2 {
    font-size: 1.6rem;
  }

  .secure {
    margin-top: 10vh;
  }

  .secure .content1 img {
    width: 100%;
    margin-top: 0;
  }

  /* Content 2 */

  #p4-2 {
    margin-top: 20vh;
  }

  .secure .content2 .content2-bg {
    height: 55vh;
    margin-top: -5vh;
  }

  .secure .content2 {
    margin-top: 0vh;
  }

  .secure .content2 .content2-icon .col-sm-1 img {
    width: 5rem;
  }

  .secure .content2 .content2-icon .col-sm-4 h2 {
    margin-top: 0;
  }

  /* Content 3 */

  #p4-3 {
    margin-top: 10vh;
  }

  .secure .content3 img {
    width: 100%;
    margin-top: 7.5vh;
  }

  .secure .content3 p {
    text-align: justify;
  }

  /* Content 4 */

  #p4-4 {
    margin-top: 20vh;
  }

  #content4-bg {
    height: 50vh;
    margin-top: -10vh;
  }

  .secure .content4 img {
    width: 120%;
    margin-top: 5vh;
  }

  .secure .content4 p {
    text-align: justify;
  }

  .secure .content4 .col-sm-6 {
    margin-top: 0vh;
  }

  /* Content 5 */

  .secure .content5 {
    margin-top: -5vh;
  }

  .secure .content5 img {
    width: 100%;
    margin-top: 7.5vh;
  }

  .secure .content5 p {
    text-align: justify;
  }

  /* Content 6 */

  #content6-bg {
    height: 40vh;
  }

  .secure .content6 .col-sm-6 {
    margin-top: -5vh;
  }

  .secure .content6 img {
    width: 100%;
    margin-top: -10vh;
  }

  .secure .content6 p {
    text-align: justify;
  }
  
  .secure .content6 {
    margin-bottom: 20vh;
  }
}

/* Small devices (landscape phones, less than 767px) */
@media (max-width: 747px) {

  /* Content 1 */

  .secure button {
    width: 75%;
    left: -25%;
  }

  .secure .content1 img {
    margin-top: 15vh;
  }

  /* Content 2 */

  #p4-2 {
    margin-top: 30vh;
  }

  .secure .content2 .content2-bg {
    height: 155vh;
    margin-top: -10vh;
  }

  .secure .content2 .content2-icon .col-sm-1 img {
    width: 4rem;
  }

  /* Content 4 */

  #content4-bg {
    height: 100vh;
  }

  /* Content 6 */

  #content6-bg {
    height: 60vh;
  }

  .secure .content6 .col-sm-6 {
    margin-top: -5vh;
  }

  .secure .content6 img {
    width: 100%;
    margin-top: -10vh;
  }
  
  .secure .content6 {
    margin-bottom: 20vh;
  }
}

/*  Extra small devices (portrait phones, less than 576px) */
@media (max-width: 576px) {

  /* Content 1 */

  .secure {
    margin-top: 0vh;
  }

  .secure .content1 img {
    width: 90%;
    margin-bottom: 2rem;
  }

  .secure .content1 button {
    width: 50%;
    left: 0;
  }

  .secure .content1 p {
    text-align: justify;
    margin-bottom: 1rem;
  }

  /* Content 2 */

  .secure .content2 .content2-bg {
    height: 125vh;
  }

  .secure .content2 .content2-icon .col-sm-1 img {
    width: 5rem;
    margin-left: 5%;
  }

  .secure .content2 .content2-icon .col-sm-4 h2 {
    margin-left: 20%;
    margin-right: 5%;
    margin-bottom: 10%;
  }

  .secure .content2 .content2-icon .col-sm-4 p {
    margin-top: 1rem;
    font-size: 1.4rem;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
  }

  .break {
    margin-top: 0px;
  }

  /* Content 3 */

  #first {
    order: 2;
  }

  #second {
    order: 1;
  }

  .secure .content3 img {
    width: 80%;
    margin-top: 5vh;
  }

  .secure .content3 p {
    width: 90%;
    margin: 0 auto;
    text-align: justify;
  }

  /* Content 4 */

  #content4-bg {
    height: 100vh;
  }

  .secure .content4 img {
    width: 90%;
    margin-bottom: 3rem;
  }

  .secure .content4 p {
    width: 90%;
    margin: 0 auto;
    text-align: justify;
  }

  /* Content 5 */

  .secure .content5 img {
    width: 90%;
    margin-top: 10vh;
  }

  .secure .content5 p {
    width: 90%;
    margin: 0 auto;
    text-align: justify;
  }

  /* Content 6 */

  #content6-bg {
    height: 75vh;
  }

  .secure .content6 img {
    width: 90%;
    margin-bottom: 50px;
  }

  .secure .content6 p {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
  }
}

/*  Extra small devices (portrait phones, less than 385px) */
@media (max-width: 385px) {

  /* Content 2 */

  .secure .content2 .content2-bg {
    height: 140vh;
  }

  .secure .content2 .content2-icon .col-sm-4 h2 {
    margin-left: 25%;
  }

  /* Content 4 */

  #content4-bg {
    height: 110vh;
  }

  /* Content 6 */

  #content6-bg {
    height: 80vh;
  }
}

/*  Extra small devices (portrait phones, less than 320px) */
@media (max-width: 320px) {

  /* Content 2 */

  .secure .content2 .content2-bg {
    height: 175vh;
  }

  /* Content 4 */

  #content4-bg {
    height: 135vh;
  }

  /* Content 6 */

  #content6-bg {
    height: 95vh;
  }

}