/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
  overflow: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body, html {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  font-size: 62.5%;
}
h1 {
  color: #303030;
  line-height: 1.4;
}

p {
  line-height: 1.4;
  color: #303030;
}

.bold {
  font-weight: bold;
}

/* MAIN */
/* --------------- Navbar --------------- */
.navbar .navbar-brand img {
  max-height: 3rem;
}

.navbar {
  transition: 1s;
  margin-top: 1.5rem;
}

.navbar-nav {
  font-size: 1.2rem;
}

.nav-link {
  border-radius: 10px;
  margin-top: 1rem;
}

.nav-link:hover {
  background: #2B7BE1;
  color: #fff !important;
  transition: 0.5s;
  border-radius: 100px;
}

.navbar-toggler {
  border: none;
  height: auto;
}

.nav-item a {
  color: rgb(75, 75, 75) !important;
  font-weight: bold;
  margin: 1rem;
}

/* --------------- Navbar End --------------- */
/* --------------- Page 1 --------------- */
.page-1 a {
  text-decoration: none;
}

.bg img {
  position: absolute;
  margin-top: -45vh;
  right: 0;
  z-index: -1;
}

.page-1-text h1 {
  max-width: 45%;
  font-size: 2rem;
  margin-top: 30vh;
}

.page-1 .page-1-text {
  animation-duration: 1.5s;
}

.page-1-hero img {
  position: relative;
  margin-top: -40vh;
  width: 35vw;
}

.btn {
  border: none;
  border-radius: 100px;
  font-size: 1.2rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  margin-top: 1.5rem;
}

.btn1 {
  background-color: #2B7BE1;
  position: relative;
  width: 15rem;
  height: 3.2rem;
  color: white;
}

.btn1:hover {
  background-color: rgb(26, 67, 121);
  transition: 0.5s;
}

.btn1 a {
  color: #fff;
}

.page-1 a > button {
  animation-duration: 1.5s;
}

.page-1 .col-sm-5 {
  animation-duration: 1.5s;
}

/* --------------------- Content 2 --------------------- */

#p2 {
  margin-top: 25vh;
}

.page-2 {
  margin-top: 35vh;
}

.page-2 .page-2-text h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10vh;
}

.page-2 .page-2-text h1:before,
.page-2 .page-2-text h1:after {
  background-color: rgb(207, 207, 207);
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 40%;
}

.page-2 .page-2-text h1:before {
  right: 0.5em;
  margin-left: -50%;
}

.page-2 .page-2-text h1:after {
  left: 0.5em;
  margin-right: -50%;
}

.row .col-sm-2 img {
  max-width: 50px;
  max-height: 50px;
  display: block;
  margin: 0 auto;
}

.row .col-sm-2 h1 {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.row .col-sm-2 p {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.2rem;
}

/* ------------------------- Content 3 ------------------------- */

.apa-saja {
  margin-top: 10vh;
}

.apa-saja .col-sm-5 h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.apa-saja .col-sm-5 p {
  font-size: 1.3rem;
}

.apa-saja .col-sm-3 img {
  width: 5rem;
  margin-bottom: 1rem;
}

.apa-saja .col-sm-3 h2 {
  margin-left: 1rem;
  position: absolute;
  font-size: 1.4rem;
  display: inline;
}

.apa-saja .col-sm-3 p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.apa-saja .col-sm-5 button {
  position: absolute;
  right: 1rem;
  text-decoration: none;
}

/* ---------------------- Content 4 --------------------- */

.jasa-img {
  background-color: rgba(187, 187, 187, 0.1);
  padding: 5rem;
  margin-top: 10vh;
}

.jasa {
  margin-top: 5vh;
}
.jasa .col-sm-5 h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.jasa .col-sm-5 .carousel-inner {
  background-color: rgb(255, 255, 255);
  height: 30vh;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  margin-top: 2rem;
  line-height: 1.2rem;
}

.jasa .col-sm-5 .carousel-inner img {
  position: absolute;
  width: 5rem;
  left: 15%;
  top: 6rem;
}

.jasa .col-sm-5 .carousel-inner p {
  position: absolute;
  left: 30%;
  right: 15%;
  font-size: 1.2rem;
}

.jasa .col-sm-5 .carousel-inner .one p {
  top: 7rem;
}

.jasa .col-sm-5 .carousel-inner .two p {
  top: 4rem;
}

.jasa .col-sm-5 .carousel-inner .three p {
  top: 5rem;
}

.jasa .col-sm-5 .carousel .carousel-control-prev-icon {
  background-image: url("../img/kiri.png")
}

.jasa .col-sm-5 .carousel .carousel-control-next-icon {
  background-image: url("../img/kanan.png")
}

/* ------------------- Content 5------------------- */

.cara-kerja {
  text-align: right;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.cara-kerja h1 {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 15vh;
}

.cara-kerja p {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.cara-kerja .col-sm-6 img {
  width: 100%;
}
/* --------------- Content 6 --------------- */

#kontak {
  position: absolute;
}

.bg-kontak {
  background-color: rgba(187, 187, 187, 0.1);
  z-index: -1;
}

.kontak {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.kontak .kontak-text {
  text-align: center;
}

.kontak h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.kontak p {
  font-size: 1.4rem;
  width: 50%;
  margin: 0 auto;
}

form {
  background-color: #fff;
  border-radius: 10px;
  padding: 2.5rem;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

form > label, input, select {
  font-size: 1.2rem !important;
  border-radius: 10px !important;
  margin-top: 1rem;
}

.kontak form {
  width: 60%;
  margin: 0 auto;
  margin-top: 5vh;
  font-size: 1.4rem;
}

.kontak form > button {
  margin-top: 5vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.kontak-icon h1 {
  text-align: center;
  font-size: 1.4rem;
  margin-top: 5vh;
}

.kontak-icon {
  text-align: center;
}

.kontak-icon .icon img {
  margin: 20px;
}

.kontak-icon .icon img:hover {
  animation: shakeThatBooty 0.5s linear 1;
  -webkit-animation: shakeThatBooty 0.5s linear 1;
  -moz-animation: shakeThatBooty 0.5s linear 1;
  -o-animation: shakeThatBooty 0.5s linear 1;
  -ms-animation: shakeThatBooty 0.5s linear 1;
}

@keyframes shakeThatBooty {
  33% {
    transform: rotateZ(10deg);
    -webkit-transform: rotateZ(10deg);
    -moz-transform: rotateZ(10deg);
    -o-transform: rotateZ(10deg);
    -ms-transform: rotateZ(10deg);
  }
  67% {
    transform: rotateZ(-10deg);
    -webkit-transform: rotateZ(-10deg);
    -moz-transform: rotateZ(-10deg);
    -o-transform: rotateZ(-10deg);
    -ms-transform: rotateZ(-10deg);
  }
  100% {
    transform: rotateZ(10deg);
    -webkit-transform: rotateZ(10deg);
    -moz-transform: rotateZ(10deg);
    -o-transform: rotateZ(10deg);
    -ms-transform: rotateZ(10deg);
  }
}

.kontak-icon .text p {
  display: inline;
  margin: 1.75rem;
  font-size: 1rem;
}


/* --------------- Content 7 --------------- */
.page-4 {
  margin-top: 5rem;
}

.page-4 .col-sm-6 h1 {
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.page-4 .col-sm-6 p {
  font-size: 1.2rem;
  text-align: justify;
  margin-bottom: 1rem;
}

.page-4 .col-sm-5 .tentang-kontak {
  margin-top: 3rem;
  font-size: 1.2rem;
}

.semi-footer {
  text-align: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.semi-footer p {
  font-weight: bold;
  font-size: 1rem;
  display: inline;
  margin: 1.5rem;
  color: #2B7BE1;
}

.semi-footer a {
  text-decoration: none;
}

.semi-footer {
  overflow: hidden;
  text-align: center;
}

.semi-footer:before,
.semi-footer:after {
  background-color: rgb(207, 207, 207);
  content: "";
  display: inline-block;
  height: 0.1rem;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.semi-footer:before {
  right: 0.5em;
  margin-left: -50%;
}

.semi-footer:after {
  left: 0.5em;
  margin-right: -50%;
}
/* --------------- Page 4 End --------------- */
/* --------------- Footer --------------- */
footer p {
  text-align: center;
  background: #2B7BE1;
  font-size: 1rem;
  padding: 1rem;
  color: #fff;
}
/* --------------- Footer --------------- */


/* ------------------------------- Page Layanan --------------------------- */
/* ------------------------------- Page Layanan --------------------------- */
/* ------------------------------- Page Layanan --------------------------- */


.layanan h1 {
  font-size: 2rem;
  font-weight: bold;
}

.layanan h2 {
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 1.2;
}

.layanan p {
  font-size: 1.4rem;
}

.layanan .content1 .row .col-sm-4 img {
  margin-top: 20vh;
}

.layanan .content1 .row .col-sm-6 {
  text-align: center;
}

.layanan .content1 .row .col-sm-6 h1 {
  margin-top: 25vh;
  margin-bottom: 1.5rem;
}

/* ----- Page 2 Layanan ------ */

#p2-2 {
  margin-top: 30vh;
}

.layanan .bg-layanan {
  background-color: rgba(187, 187, 187, 0.1);
}

.layanan .list-icon .col-sm-3 {
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.layanan .content2 .list-icon .col-sm-3 img {
  width: 5rem;
  position: absolute;
}

.layanan .content2 .list-icon .col-sm-3 h2 {
  margin-left: 6rem;
  margin-top: 0.5rem;
}

.layanan .content2 .list-icon .col-sm-3 p {
  margin-top: 2rem;
  text-align: justify;
}

/* --------------------------------- Page Work ----------------------------- */
/* --------------------------------- Page Work ----------------------------- */
/* --------------------------------- Page Work ----------------------------- */

.work {
  margin-top: 25vh;
}

.work .content1 {
  text-align: center;
}

.work .content1 img {
  margin-top: -10vh;
}

.work .content1 h1 {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.work .content1 p {
  font-size: 1.4rem;
}

/* ----- Page 2 Work ----- */

#p3-2 {
  margin-top: 30vh;
}

.work .bg-work {
  background: rgba(187, 187, 187, 0.1);
}

.work .content2 {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.work .content2-text {
  text-align: center;
  margin-bottom: 10vh;
}

.work .content2-text h1 {
  font-weight: bold;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.work .content2-text p {
  font-size: 1.4rem;
}

.work .content2-text-2 {
  text-align: center;
  margin-bottom: 10vh;
}

.work .content2-text-2 h1 {
  font-weight: bold;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.work .content2-text-2 p {
  font-size: 1.4rem;
}

.work .bg-work-2 {
  background: rgba(187, 187, 187, 0.18);
}

/* ----- Tabel ----- */

.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/* -------------------------------- 

Main components 

-------------------------------- */

#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}
@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}
.cd-timeline-block::after {
  clear: both;
  content: "";
  display: table;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 2em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

.cd-timeline-img {
  position: absolute;
  top: 1.5vh;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #ffffff, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.cd-timeline-img img {
  display: block;
  width: 20px;
  height: 20px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -10px;
  margin-top: -10px;
}
.cd-timeline-img.cd-picture {
  background: #0B4DA1;
}
.cd-timeline-img.cd-movie {
  background: #2B7BE1;
}
.cd-timeline-img.cd-location {
  background: #87B9F9;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 40px;
    height: 40px;
    left: 50%;
    margin-left: -20px;
  }
}
.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: #ffffff; /* Old browsers */
  border-radius: 1rem;
  padding: 1em;
  box-shadow: 0 3px 5px #00000015;
}
.cd-timeline-content::after {
  clear: both;
  content: "";
  display: table;
}
.cd-timeline-content h2 {
  color: #303e49;
  font-size: 15px;
  font-weight: bold;
}
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
  font-size: 12px;
}
.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid #ffffff;
}
@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 15px;
  }
  .cd-timeline-content p {
    font-size: 12px;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    margin-left: 5vw;
    padding: 1.6em;
    width: 35%;
  }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: #ffffff;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
    margin-right: 5vw;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: #ffffff;
  }
}

/* ------------------------------- Page Secure --------------------------- */
/* ------------------------------- Page Secure --------------------------- */
/* ------------------------------- Page Secure --------------------------- */

.secure h1, h2, p {
  line-height: 1.4;
}

.secure h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.secure h2 {
  font-size: 1.8rem;
  font-weight: bold;
}

.secure p {
  font-size: 1.4rem;
}

.secure {
  margin-top: 25vh;
}

.secure .content1 {
  text-align: center;
}

.secure .content1 img {
  margin-top: -10vh;
}

/* ----------------------------------- Content 2 ----------------------------------- */
#p4-2 {
  margin-top: 25vh;
}

.secure .content2 {
  margin-top: 10vh;
}

.secure .bg-secure {
  background: rgba(187, 187, 187, 0.1);
}

.secure .content2-icon {
  padding-top: 20vh;
  padding-bottom: 20vh;
}

.secure .content2-icon .col-sm-3 {
  margin-bottom: 5rem
}

.secure .content2 .content2-icon .col-sm-1 img {
  width: 7.5rem;
  position: absolute;
}

.secure .content2 .content2-icon .col-sm-4 h2 {
  margin-top: 0.5rem;
  font-weight: bold;
}

.secure .content2 .content2-icon .col-sm-4 p {
  margin-top: 0.5rem;
  text-align: justify;
  font-size: 1.2rem;
}

.break {
  margin-top: 2.5rem;
}

/* ----------------------------------- Content 3 ----------------------------------- */

#p4-3 {
  margin-top: 20vh;
}

.secure .content3 {
  text-align: center;
}

.secure .content3 .col-sm-6 {
  margin-top: 10vh;
}

/* ----------------------------------- Content 4 ---------------------------------- */

#p4-4 {
  margin-top: 20vh;
}

#content4-bg {
  background: rgba(187, 187, 187, 0.1);
}

.secure .content4 {
  padding-top: 20vh;
  padding-bottom: 20vh;
  text-align: center;
}

.secure .content4 .col-sm-6 {
  margin-top: 5vh;
}

/* ----------------------------------- Content 5 ----------------------------------- */

#p4-5 {
  margin-top: 20vh;
}

.secure .content5 {
  text-align: center;
  padding-top: 20vh;
  margin-bottom: -10vh;
}

.secure .content5 .col-sm-6 {
  margin-top: -10vh;
}

.secure .content5 .col-sm-4 {
  margin-top: -20vh;
}

/* ----------------------------------- Content 6 ----------------------------------- */

#p4-6 {
  margin-top: 20vh;
}

#content6-bg {
  background: rgba(187, 187, 187, 0.1);
}

.secure .content6 .col-sm-4 img {
  margin-top: -5vh;
}

.secure .content6 {
  text-align: center;
  padding-top: 20vh;
  padding-bottom: 20vh;
}

.secure .content6 .col-sm-6 {
  margin-top: 15vh;
}

/* ------------------------------------ Formulir ------------------------------------ */
/* ------------------------------------ Formulir ------------------------------------ */
/* ------------------------------------ Formulir ------------------------------------ */

.bg-form {
  background-image: url("../img/bg_form.svg");
  background-position: center;
  background-size: cover;
  padding-bottom: 5vh;
}

.formulir {
  text-align: center;
  margin-top: 10vh;
  margin-bottom: 5vh;
}

.formulir h1 {
  font-size: 2rem;
  font-weight: bold;
}

.formulir p {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}